[submodule "dependencies/yaml-cpp-noboost"]
	path = dependencies/yaml-cpp-noboost
	url = https://github.com/blair1618/yaml-cpp.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/lsalzman/enet.git
[submodule "data"]
	path = data
	url = https://github.com/mmatyas/supermariowar-data
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL-1.2.git
[submodule "dependencies/SDL_mixer"]
	path = dependencies/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "dependencies/SDL_image"]
	path = dependencies/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "dependencies/libretro-deps"]
	path = dependencies/libretro-deps
	url = https://github.com/libretro/libretro-deps.git
[submodule "dependencies/libretro-common"]
	path = libretro-common
	url = https://github.com/libretro/libretro-common.git
