[submodule "dependencies/yaml-cpp-noboost"]
	path = dependencies/yaml-cpp-noboost
	url = https://github.com/blair1618/yaml-cpp.git
[submodule "dependencies/enet"]
	path = dependencies/enet
	url = https://github.com/lsalzman/enet.git
[submodule "dependencies/SDL_mixer"]
	path = dependencies/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
		ignore = untracked
[submodule "dependencies/SDL_image"]
	path = dependencies/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	ignore = untracked
	